<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
  <link rel="apple-touch-icon" sizes="180x180" href="static/assets/apple-icon-180x180.png">
  <link href="static/assets/favicon.ico" rel="icon">
    <title>Weather Website</title>
</head>
<body>
      <form action="submit_form" method = "post">
      <div class="form-group">
        <h1>Your feeling        </h1>
        <input name="subject" type="text" class="form-control" id="subject" placeholder="feeling">
      </div>
      <button type = "submit">submit</button>
    </form>
    <h1></h1>
    <h1>{{dicton}}</h1>

    
    
</body>
</html>
